body {
  font-family: sans-serif;
  user-select: none;
}
p {
  margin-bottom: .15em;
  margin-top: .3em;
}
table {
  border-collapse: collapse;
  height: 21.6em;
  width: 21.6em;
}
td {
  background-color: #fff;
  border: .1em solid #ccc;
  height: 2.4em;
  text-align: center;
  width: 2.4em;
}
.gridtd div { position: relative; }
.gridtd div div { position: absolute; }
.gridtd div .nt {
  color: #ddd;
  font-size: 80%;
  line-height: .9;
  margin-left: .15em;
  margin-top: -1.3em;
}
.gridtd div .nml {
  font-size: 150%;
  margin-top: -.6em;
  width: 100%;
}
.lkd { font-weight: bold; }
.sh { background-color: #eee; }
.noted { color: #600; }
#tlbar { margin-top: .5em; }
.tlbarS {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20%;
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  padding: 0;
  text-align: center;
  width: 1.4em;
}
.tlbarS[disabled] { background-color: #ddd; }
.tlbarS:focus { outline: none; }
.tlbarS:hover { background-color: #ddd; }
.tlbarS { font-size: 150%; }
.lit {
  background-color: #c00;
  color: #fff;
}
.lit:hover { background-color: #a00; }
.container { display: flex; }
.fixed { width: 10em; margin-right: .3em; }
.flexitem { flex-grow: 1; }
.mag { color: #f0f; }
.tipTog, .xstxt { font-size: 85%; }
.stxt { font-size: 95%; }
.sdbtn { margin: .1em 0; }
#thicR {
  border: .15em solid #c00;
  height: 2.2em;
  margin-left: -.2em;
  margin-top: -1.25em;
  position: absolute;
  width: 2.2em;
}
.tips, .tipTogH { display: none; }